body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.task-text span{
    word-break: break-all;
    margin-left:5px;
}

.task-controls {
    margin-left:auto;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: auto;
}

.delete-button:hover {
    background-color: #d32f2f; 
}

.add-task {
    margin-top: 20px;
    display: flex;
}

.task-input {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    background-color: #f0f0f0;
}

.due-date {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.color-code {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}

